body {
    background-image: url("assets/images/43.jpg");
    background-color: #cccccc;
}

.navbar-brand {
	padding-left: 80px;	
	font-size: 30px;
}

}
#contact-form ul {
	margin-bottom: 20px;
}
#contact-form li {
	margin-bottom: 10px;
}
label,
input[type=text],
input[type=email],
textarea {
	display: block;
	width: 90%;

}
input[type=text],
input[type=email],
textarea {
	height: 35px;
	border: 1px solid #ffffff;
	padding: 0 10px;
	font-size: 14px;
	opacity: .4;
	background:#000000;
	color:#ffffff;
}
textarea {
	height: 150px;
}
input[type=submit] {
	background: #000000;
	opacity: .4;
	border: 0 none;
	color: #ffffff;
	font-size: 18px;
	padding: 10px 30px;
	cursor: pointer;
	margin-left: 40%;
}

ul {
  list-style-type: none;
}

.media {
	margin-left: 50px;
}
h3{
	margin-left: 120px;
}

.navbar-header{
	
	padding-left: 10px;
	padding-right: 90px;	
}

.container-fluid{
	background-color: #ffffff;
}

.navbar-header{
	font-size: 30px;
}
h4{
	font-size:25px;
}

h2{
	padding-left: 50px;
	font-size:25px;
	color: #4aaaa5;
}

p {
	font-size: 18px;
	color:#4aaaa5;
}

.img-circle{
	float:left;
}

.col-md-3{
	float: right;
}

.col-md-12 {
	padding-top: 60px;
	padding: 40px 50px 90px 80px;

}

.col-md-7{
	padding-left: 60px;
}

.port {
	padding: 20px 0px 20px 10px;
	text-align: left;
	color: #4aaaa5;
	background-color: #B0E0E6;
}

.about{
	padding-left:20px;
	color:#4aaaa5;
	background-color: #B0E0E6;

}

.me{
	padding-left: 9px;
	float: right;
	padding-bottom: 60px;
	margin-bottom: 0px;
	background-color: #B0E0E6;

}

.panel-heading{
	padding-right: 0px;
	padding-bottom: 100px;
}

.cl-md-6{
	padding-bottom: 0px;
	margin-right: 100px;
	margin-top: -459px;


}

footer {
	background: lightgray;
	color: #fff;
	padding: 20px 0;
	clear: both;
	border-top: 8px solid #4aaaa5;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	width:100%;
}